<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="/header.css" />
<!-- Navbar -->
<nav class="navbar">
  <div class="start">
    <form action="/">
      <button>count</button>
    </form>
    <form action="/users" method="get">
      <button>Show Users</button>
    </form>
  </div>
  <div class="middle">
    <h1>CRUD Operation using SQL</h1>
    <!-- <input type="search" name="search" id="search" placeholder="search item"> -->
  </div>
  <div class="end">
    <form action="/new" method="get">
      <button class="btn-create">Create New <i class="fa-solid fa-plus"></i></button>
    </form>
  </div>
</nav>
<script src="/script.js"></script>
