<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/start.css">
  <title>Start</title>
  </head>
  <body>
    <!-- Header -->
  <%- include('header.ejs') %>
  
  <h1 id="user-count">Database Contains <%= userCount %> users</h1>

  
</body>
</html>